@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.brand-description h2 {
  padding-left: 16px;
  padding-top: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: #000000;
}

.brand-description p {
  padding-left: 16px;
  padding-top: 6px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #000000;
}
.profile {
  background-color: #fef6f8;
}

.img-brand1 {
  padding-top: 24px;
  width: 100%;
}

.img-brand2 {
  padding-top: 4px;
  width: 90%;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.ach-title h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  padding-top: 48px;
  padding-bottom: 32px;
  text-align: center;
  color: #000000;
}

.ach-desc h3 {
  padding-top: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #b77284;
}
.ach-desc p {
  padding-top: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #000000;
}
.img-ach {
  padding-top: 10px;
  height: 80%;
  width: 80%;
}
.img-ach2 {
  padding-left: 10%;
  padding-top: 10px;
  height: 70%;
  width: 50%;
}
.quotes {
  padding-top: 72px;
  padding-bottom: 72px;
}

.quotes h1 {
  text-align: center;
  padding-top: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}

.quotes p {
  text-align: center;
  padding-top: 24px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #000000;
}
.wed-title h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding-bottom: 32px;
  text-align: center;
  color: #ffc0cb;
}

.img-wd {
  width: 100%;
}

.actor h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  padding-bottom: 32px;
  text-align: center;
  color: #eb9797;
}
