.own-navbar {
  border-bottom: 1px solid #000000;
  padding-bottom: 20px;
}
.nav-class {
  margin-left: 250px;
}
.nav-link {
  font-weight: 500;
  font-size: 20px;
}
.nav-link:hover {
  color: #eb9797;
}
.search-login {
  margin-left: 180px;
}
.search-login a {
  margin-left: 50px;
  background: #eb9797;
  padding: 10px 18px 10px 18px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}
.search-login a:hover {
  background: black;
}
.search-login {
  margin-top: 10px;
}
